.layout {
    background-color: #eee;
  }
  
  .box {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    overflow: hidden;
    text-align: center;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  